<h1 class="navbar-brand mt-5 text-center">Orders List</h1>
<table class="table table-striped mt-5">
  <thead>
    <tr>
     
      <th scope="col">UserId</th>
      <th scope="col">Name</th>
      <th scope="col">serviceId</th>
      <th>Number Of Services</th>
      <th>Amount Paid Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <td>{{this.userId}}</td>
      <td>
        {{this.name}}
      </td>
      <td>
        {{this.serviceid}}
      </td>
      <td>
      {{this.quantity}}
      </td>
      <td>
        {{this.date}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<hr class="mt-5">
<hr class="mt-5">