<div class="container">
  <h1 class="mt-5 text-center navbar-brand mb-3 mb-5 mb-3">Cart</h1>
  {{#if data.emptycart}}
    <h2 class="text-center">Cart is empty</h2>
  {{else}}
    {{#if counts}}
      <table class="table">
        <tr>
          <th>Image</th> <th>Service</th> <th>Quantity</th> <th>Price Per Service</th>
        </tr>
        {{#each data.servicesdetails}}
          <tr>
            <td>
              <img src="/service-images/{{this.services._id}}.jpg" height="100px" width="90px">
            </td>
            <td>{{this.services.title}}</td>
            <td>
              <a href="/decrementSer?id={{this.services._id}}"><button>-</button></a>
              <strong> {{this.quantity}} </strong>
              <a href="/incrementSer?id={{this.services._id}}"><button>+</button></a>
            </td>
            <td>{{this.services.price}} RS</td>
            <td>
              <a href="/deleteCart?id={{this.services._id}}">
                <button type="button" class="btn btn-danger">Remove</button>
              </a>
            </td>
          </tr>
        {{/each}}
      </table>
    {{else}}
      <h2 class="text-center mt-5">Cart is empty</h2>
    {{/if}}
  {{/if}}
  <hr class="mt-5">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-auto">
        <h4 class="align-right mt-4 mb-3 fs-5"><span><span class="text-secondary">Total Amount</span> <span>&#8377;{{total}}</span></span></h4>
        <a href="/placeOrder" class="btn btn-primary fs-4 " >Place Order</a>
      </div>
    </div>
  </div>
</div>
